@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 8% 96%;
    --foreground: 220 12% 18%;
    --card: 220 8% 97%;
    --card-foreground: 220 12% 18%;
    --popover: 220 8% 97%;
    --popover-foreground: 220 12% 18%;
    --primary: 262 83% 58%;
    --primary-foreground: 210 40% 98%;
    --secondary: 220 10% 92%;
    --secondary-foreground: 220 12% 22%;
    --muted: 220 10% 92%;
    --muted-foreground: 220 10% 42%;
    --accent: 262 83% 58%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 220 12% 88%;
    --input: 220 12% 88%;
    --ring: 262 83% 58%;
    --radius: 0.5rem;
    --sidebar: 222 47% 11%;
    --sidebar-foreground: 210 40% 98%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 262 83% 58%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 262 83% 58%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 262 83% 58%;
    --sidebar: 222 47% 11%;
    --sidebar-foreground: 210 40% 98%;
  }
}

@layer base {
  html {
    font-size: 14px;
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-light;
  }
}
